.item {
	color: #fff;
	display: flex;
	align-items: center;
	margin-top: 20px;
}
.img {
	width: 80px;
	
	border-radius: 40px;
}
.p {
	margin-left: 20px;
}

.like {
	margin-left: 20px;
	color: rgb(247, 0, 214);
	font-size: 30px;
}
